body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #c3cfe2, #c3e2e2);
    margin: 0;
  }
  
  .atm {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .screen {
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .input input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #34495e;
    border-radius: 5px;
    display: none; /* Initially hidden */
  }
  
  .buttons button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .buttons button:hover {
    background-color: #2980b9;
  }
  